body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span.player-one{
  color: white;
  background: #f58f29 ;
  padding: 8px;
  border-radius: 4px;
}

span.player-two{
  color: white;
  background: #0cce6b;
  padding: 8px;
  border-radius: 4px;
}

.grid {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 500px;
  border-left: 20px solid #54494b;
  border-right: 20px solid #54494b;
  background: #4056f4;
  padding-bottom: 10px;
  border-radius: 8px;
  width: 600px;
}

.grid div {
  background: white;
  height: 80px;
  width: 80px;
  margin: 2px;
  border-radius: 50px;
}

.last {
  display: flex;
  flex-direction: row;
  width: 100% !important ;
  height: 30px !important;
  border-radius: 0 !important;
  border-top-left-radius: 70px !important;
  border-top-right-radius: 70px !important;
  margin-top: 7px !important;
  background-color: #ff1b1c !important;
}

.last div {
  background: transparent !important;
}

.player-one {
  background-color: #f58f29 !important;
  border-radius: 50px;
}

.player-two {
  background-color: #0cce6b !important;
  border-radius: 50px;
}

#restart-btn {
  border-radius: 50px;
  margin-bottom: 7px !important;
}
