.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 700px;
}

.grid div {
    height: 100px;
    width: 100px;
}

.player-one {
    background-color: red;
    border-radius: 50px;
}

.player-two {
    background-color: blue;
    border-radius: 50px;
}